# Data Wrangling with Pandas

We've seen how to get data with Python. Now let's do some stuff! From here on, we're going to mostly use the PyData stack rather than Python built-in functionality.

Our objective in this section is to learn enough to clean the larger sample of Chicago Health Inspection data and get it ready for modeling.

## Preliminaries: DataFrames

As mentioned, the core data structure in pandas is called a DataFrame. A DataFrame is a tabular data structure, holding many columns, similar to a spreadsheet.

The **Key Features** are

* Easy handling of **missing data**
* **Size mutability**: columns can be inserted and deleted from DataFrames
* Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
* Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
* Intelligent label-based **slicing**, **fancy indexing**, and **subsetting** of large data sets
* Intuitive **merging and joining** data sets
* Flexible **reshaping and pivoting** of data sets
* **Hierarchical labeling** of axes
* Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
* **Time series functionality**: 
  * date range generation and frequency conversion
  * moving window statistics
  * moving window linear regressions
  * date shifting and lagging, etc.

In [24]:
dta = pd.read_csv("data/health_inspection_chi.csv")

Pandas provides labelled **indices** to access rows and columns, should they have natural labels.

In [25]:
dta.index

RangeIndex(start=0, stop=25000, step=1)

In [26]:
dta.columns

Index(['address', 'aka_name', 'city', 'dba_name', 'facility_type',
       'inspection_date', 'inspection_id', 'inspection_type', 'latitude',
       'license_', 'location', 'longitude', 'results', 'risk', 'state',
       'violations', 'zip'],
      dtype='object')

For example, with this data set we have a natural unique identifier in the `inspection_id` column. We might wish to make this our index.

In [27]:
dta.head(n = 5)

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,1965287,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,1329698,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
2,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,470787,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
3,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
4,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03T00:00:00.000,1335320,License Re-Inspection,41.925218,2232391.0,"{'type': 'Point', 'coordinates': [-87.68750659...",-87.687507,Fail,Risk 3 (Low),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60647.0

In [28]:
dta = dta.set_index('inspection_id')

In [29]:
dta.index

Int64Index([1965287, 1329698,  470787,   68091, 1335320, 1228169, 1285582,
             557486,   74468, 1522863,
            ...
            2059403,  114871,  657253,  531556,  325228, 2059771, 1965378,
            1490395, 1326565,  413268],
           dtype='int64', name='inspection_id', length=25000)

In [22]:
dta.head(n = 3)

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0

## Indexing

To look at a column from a DataFrame, you can either use attribute lookup.

In [9]:
dta.address

inspection_id
1965287          5255 W MADISON ST
1329698        5958 W DIVERSEY AVE
470787        5400-5402 N CLARK ST
68091              2804 N CLARK ST
1335320         2409 N WESTERN AVE
                     ...
2059771            333 E BENTON PL
1965378              1664 N ADA ST
1490395       5451 S WENTWORTH AVE
1326565    8524 S STONY ISLAND AVE
413268           518-520 E 79TH ST
Name: address, Length: 25000, dtype: object

Or you can use the **getitem** syntax that relies on square brackets `[]`, which is familiar from dealing with dictionaries (uses `__getitem__`).

In [10]:
dta['address']

inspection_id
1965287          5255 W MADISON ST
1329698        5958 W DIVERSEY AVE
470787        5400-5402 N CLARK ST
68091              2804 N CLARK ST
1335320         2409 N WESTERN AVE
                     ...
2059771            333 E BENTON PL
1965378              1664 N ADA ST
1490395       5451 S WENTWORTH AVE
1326565    8524 S STONY ISLAND AVE
413268           518-520 E 79TH ST
Name: address, Length: 25000, dtype: object

These two operations return pandas **Series** objects. **Series** are like single-column DataFrames. If you want to preserve the DataFrame type, index the DataFrame with a list.

In [11]:
dta[['address']]

                                address
inspection_id
1965287              5255 W MADISON ST
1329698            5958 W DIVERSEY AVE
470787            5400-5402 N CLARK ST
68091                  2804 N CLARK ST
1335320             2409 N WESTERN AVE
...                                 ...
2059771                333 E BENTON PL
1965378                  1664 N ADA ST
1490395           5451 S WENTWORTH AVE
1326565        8524 S STONY ISLAND AVE
413268               518-520 E 79TH ST

[25000 rows x 1 columns]

Turn a series object to dataframe use `to_frame`：

In [32]:
dta.address.to_frame().head()

                             address
inspection_id
1965287           5255 W MADISON ST
1329698         5958 W DIVERSEY AVE
470787         5400-5402 N CLARK ST
68091               2804 N CLARK ST
1335320          2409 N WESTERN AVE

You can use this syntax to pull out multiple columns.

In [12]:
dta[['address', 'inspection_date']]

                                address          inspection_date
inspection_id
1965287              5255 W MADISON ST   2016-09-26T00:00:00.000
1329698            5958 W DIVERSEY AVE   2014-02-06T00:00:00.000
470787            5400-5402 N CLARK ST   2010-12-03T00:00:00.000
68091                  2804 N CLARK ST   2010-02-01T00:00:00.000
1335320             2409 N WESTERN AVE   2013-05-03T00:00:00.000
...                                 ...                      ...
2059771                333 E BENTON PL   2017-06-07T00:00:00.000
1965378                  1664 N ADA ST   2016-09-27T00:00:00.000
1490395           5451 S WENTWORTH AVE   2014-07-08T00:00:00.000
1326565        8524 S STONY ISLAND AVE   2013-03-26T00:00:00.000
413268               518-520 E 79TH ST   2010-09-10T00:00:00.000

[25000 rows x 2 columns]

You can index the rows, by using the **loc** and **iloc** accessors.

`loc` does *label-based* indexing.

In [35]:
dta.loc[[1965287, 1329698], 'address':'location']

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location
inspection_id,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039..."
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699..."

`iloc` on the other hand provides *integer-based* indexing. We can pass a list of rows integers.

In [14]:
dta.iloc[[0, 2]]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0

Both support the Python **slice notation** (`start:stop:step`). This can be really powerful.

In [15]:
dta.iloc[:5]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
1335320,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03T00:00:00.000,License Re-Inspection,41.925218,2232391.0,"{'type': 'Point', 'coordinates': [-87.68750659...",-87.687507,Fail,Risk 3 (Low),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60647.0

In [16]:
dta.loc[:1335320]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
1335320,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03T00:00:00.000,License Re-Inspection,41.925218,2232391.0,"{'type': 'Point', 'coordinates': [-87.68750659...",-87.687507,Fail,Risk 3 (Low),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60647.0

Note that these inspection ids are *not* sorted, yet we can still use slice notation.

Of course, we can also combine row and index labeling.

In [17]:
dta.iloc[:5, [0, 5]]

                             address          inspection_date
inspection_id
1965287           5255 W MADISON ST   2016-09-26T00:00:00.000
1329698         5958 W DIVERSEY AVE   2014-02-06T00:00:00.000
470787         5400-5402 N CLARK ST   2010-12-03T00:00:00.000
68091               2804 N CLARK ST   2010-02-01T00:00:00.000
1335320          2409 N WESTERN AVE   2013-05-03T00:00:00.000

In [18]:
dta.loc[:68091, ["address", "inspection_date"]]

                             address          inspection_date
inspection_id
1965287           5255 W MADISON ST   2016-09-26T00:00:00.000
1329698         5958 W DIVERSEY AVE   2014-02-06T00:00:00.000
470787         5400-5402 N CLARK ST   2010-12-03T00:00:00.000
68091               2804 N CLARK ST   2010-02-01T00:00:00.000

## Cleaning Data for Types

So far, we've explicitly made an index. We may next want to convert to the dates to datetime types. Here we'll use the **apply** function to apply a function to each row of a Series.

In [43]:
dta.inspection_date = dta.inspection_date.apply(pd.to_datetime)

In [44]:
dta.inspection_date

inspection_id
1965287   2016-09-26
1329698   2014-02-06
470787    2010-12-03
68091     2010-02-01
1335320   2013-05-03
             ...
2059771   2017-06-07
1965378   2016-09-27
1490395   2014-07-08
1326565   2013-03-26
413268    2010-09-10
Name: inspection_date, Length: 25000, dtype: datetime64[ns]

Now let's cast zip code from a float to a string. Some zip codes can start with 0 (not in Chicago), and we need to account for that.

In [45]:
import numpy as np


def float_to_zip(zip_code):
    if np.isnan(zip_code):
        return np.nan
    
    # 0 makes sure to left-pad with zero
    # zip codes have 5 digits
    # .0 means, we don't want anything after the decimal
    # f is for float
    zip_code = "{:05.0f}".format(zip_code)
    return zip_code

Here we use Python's **string formatting** facilities to convert from a numeric type to a string. Some of the zip codes are empty strings in the file. Pandas uses numpy's `NaN` to indicate missingness, so we'll return it here.

In [46]:
dta.zip = dta.zip.apply(float_to_zip)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [47]:
dta.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640
68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657
1335320,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03,License Re-Inspection,41.925218,2232391.0,"{'type': 'Point', 'coordinates': [-87.68750659...",-87.687507,Fail,Risk 3 (Low),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60647

DataFrames have a `dtypes` attribute for checking the data types. Pandas relies on NumPy's dtypes objects. Here we see that the `object` dtype is used to hold strings. This for technical reasons.

In [48]:
dta.dtypes[['inspection_date', 'zip']]

inspection_date    datetime64[ns]
zip                        object
dtype: object

We can also convert variables' types, using `astype`. Here, we'll explicitly cast to pandas Categorical type, which is the only non-native numpy type.

In [49]:
dta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25000 entries, 1965287 to 413268
Data columns (total 16 columns):
address            25000 non-null object
aka_name           24709 non-null object
city               24981 non-null object
dba_name           25000 non-null object
facility_type      24787 non-null object
inspection_date    25000 non-null datetime64[ns]
inspection_type    25000 non-null object
latitude           24865 non-null float64
license_           24996 non-null float64
location           24865 non-null object
longitude          24865 non-null float64
results            25000 non-null object
risk               24995 non-null object
state              24994 non-null object
violations         23908 non-null object
zip                24990 non-null object
dtypes: datetime64[ns](1), float64(3), object(12)
memory usage: 3.9+ MB

In [51]:
dta.results = dta.results.astype('category')
dta.risk = dta.risk.astype('category')
dta.inspection_type = dta.inspection_type.astype('category')
dta.facility_type = dta.facility_type.astype('category')

If we only select the categorical types, we can see some categorical variables descriptions.

We can use the `select_dtypes` method to pull out a DataFrame with only the asked for types.

In [52]:
dta.select_dtypes(['category'])

,facility_type,inspection_type,results,risk
inspection_id,,,,
1965287,Restaurant,Canvass,Pass w/ Conditions,Risk 1 (High)
1329698,Restaurant,Canvass,Pass,Risk 1 (High)
470787,Restaurant,SFP,Fail,Risk 1 (High)
68091,Restaurant,Canvass,Pass,Risk 2 (Medium)
1335320,Mobile Food Dispenser,License Re-Inspection,Fail,Risk 3 (Low)
1228169,Restaurant,Canvass,Pass,Risk 2 (Medium)
1285582,Restaurant,Canvass,Pass w/ Conditions,Risk 1 (High)
557486,Restaurant,Canvass,Pass,Risk 2 (Medium)
74468,School,Canvass,Pass,Risk 1 (High)
1522863,Restaurant,Canvass,Pass,Risk 1 (High)
1365288,Restaurant,Canvass Re-Inspection,Pass,Risk 1 (High)
1150454,Restaurant,Canvass,Pass w/ Conditions,Risk 2 (Medium)
1453434,Restaurant,Canvass,Pass,Risk 1 (High)
1098457,Restaurant,Canvass,Pass,Risk 2 (Medium)
1978957,Restaurant,Complaint,Pass,Risk 1 (High)
1971125,Restaurant,Canvass,Pass,Risk 1 (High)
1434561,Grocery Store,License Re-Inspection,Pass,Risk 3 (Low)
606496,Restaurant,Complaint,Pass,Risk 1 (High)
1322114,Grocery Store,License Re-Inspection,Pass,Risk 3 (Low)
1434800,School,Canvass,Pass,Risk 1 (High)
1096484,Restaurant,Canvass,Pass,Risk 1 (High)
1360289,Restaurant,Canvass Re-Inspection,Pass,Risk 2 (Medium)
1448016,Restaurant,Complaint,Fail,Risk 1 (High)
250608,Daycare (2 - 6 Years),Canvass,Pass,Risk 1 (High)
1324353,Restaurant,Canvass,Pass w/ Conditions,Risk 1 (High)
468107,Grocery Store,License,Fail,Risk 3 (Low)
1948939,Restaurant,Canvass,Pass,Risk 1 (High)
1751612,Restaurant,Canvass Re-Inspection,Fail,Risk 1 (High)
606575,Restaurant,License,Fail,Risk 2 (Medium)
68160,Restaurant,Suspected Food Poisoning,Fail,Risk 1 (High)
...,...,...,...,...
347209,Grocery Store,License Re-Inspection,Pass,Risk 3 (Low)
1975445,Children's Services Facility,License,Fail,Risk 1 (High)
1326783,Grocery Store,Canvass Re-Inspection,Pass,Risk 2 (Medium)
1975775,Restaurant,Canvass,Pass,Risk 2 (Medium)
612615,Daycare (2 - 6 Years),License,Pass,Risk 1 (High)
197247,Restaurant,Short Form Complaint,Pass,Risk 1 (High)
413579,Restaurant,Canvass,Out of Business,Risk 1 (High)
2049615,Restaurant,Canvass,Pass,Risk 1 (High)
1230080,Restaurant,Consultation,Pass,Risk 1 (High)
1393310,Restaurant,Canvass,Pass w/ Conditions,Risk 3 (Low)
1946768,Restaurant,Canvass,Fail,Risk 1 (High)
529379,Restaurant,Complaint Re-Inspection,Pass,Risk 1 (High)
1464890,School,Canvass Re-Inspection,Pass,Risk 1 (High)
1182230,Shared Kitchen,License,Pass,Risk 1 (High)
1966555,Daycare Above and Under 2 Years,License Re-Inspection,Pass,Risk 1 (High)
1522771,Restaurant,Canvass,Pass,Risk 2 (Medium)
626394,Grocery Store,License,Fail,Risk 3 (Low)
120509,Restaurant,Complaint,Pass,Risk 1 (High)
604507,School,Consultation,Fail,Risk 1 (High)
1184322,Restaurant,Canvass,Pass,Risk 1 (High)
2059403,Restaurant,Canvass,Fail,Risk 2 (Medium)
114871,Restaurant,Canvass,Pass,Risk 1 (High)
657253,Restaurant,Complaint Re-Inspection,Pass w/ Conditions,Risk 2 (Medium)
531556,Grocery Store,Short Form Complaint,Pass,Risk 1 (High)
325228,Restaurant,Canvass,Fail,Risk 1 (High)
2059771,Restaurant,Canvass,Pass,Risk 1 (High)
1965378,Restaurant,Canvass,Pass,Risk 1 (High)
1490395,Restaurant,Short Form Complaint,Pass,Risk 2 (Medium)
1326565,Restaurant,Complaint,Pass,Risk 2 (Medium)
413268,Daycare Combo 1586,License,Pass,Risk 1 (High)

Finally, we might want to exclude a column like `location` since we have the separate `latitude` and `longitude` columns. We can delete columns in a DataFrame using Python's built-in `del` statement.

In [53]:
del dta['location']

## Dealing with Types using csv Reader

We can do everything that we did above by providing options to `pd.read_csv`.

We saw before that `csv` reads everything in as strings, `json` does some type conversion with facility for doing more, and `pandas` does a bit more type conversion but it isn't always what we want. For example, we want the zip codes to stay strings.

Let's take a look at how to do with pandas `read_csv`. First, we can use the `parse_dates` argument to read in the larger inspections data sample and tell pandas that one of our columns is a date column. We'll also go ahead and make `inspection_id` the index.

In [ ]:
dta = pd.read_csv(
    "data/health_inspection_chi.csv", 
    index_col="inspection_id",
    parse_dates=["inspection_date"]
)

Next, we want to turn the zip codes into strings. Here, we need to assume that the input (from the file) is a string as opposed to the above.

In [54]:
import numpy as np


def float_to_zip(zip_code):
    # convert from the string in the file to a float
    try:
        zip_code = float(zip_code)
    except ValueError:  # some of them are empty
        return np.nan
    
    # 0 makes sure to left-pad with zero
    # zip codes have 5 digits
    # .0 means, we don't want anything after the decimal
    # f is for float
    zip_code = "{:05.0f}".format(zip_code)
    return zip_code

In [55]:
float_to_zip('1234')

'01234'

In [56]:
float_to_zip('123456')

'123456'

As another example of defensive programming, we have to make sure that empty strings are handled.

In [57]:
float_to_zip('')

nan

We can supply this function to the `converters` argument.

In [60]:
dta = pd.read_csv(
    "data/health_inspection_chi.csv",
    converters={
        'zip': float_to_zip
    }
)

In [61]:
dta.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,1965287,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644
1,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,1329698,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639
2,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,470787,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640
3,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657
4,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03T00:00:00.000,1335320,License Re-Inspection,41.925218,2232391.0,"{'type': 'Point', 'coordinates': [-87.68750659...",-87.687507,Fail,Risk 3 (Low),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60647

To exclude location, we can take advantage of the fact that the `usecols` argument accepts a function to exclude `location`.

In [62]:
dta = pd.read_csv(
    "data/health_inspection_chi.csv",
    usecols=lambda col: col != 'location'
)

Here we are using a **lambda function** that returns `False` for the location parameter. Lambda functions are what are known as anonymous functions, because they don't have a name. This kind of thing is precisely their intended use.

Here we use a function `lambda x: x` to map the identity function over a list.

In [ ]:
list(map(lambda x: x, [1, 2, 3]))

Finally, in a few cases we may want to take advantage of the pandas native `categorical` type. We can use the `dtype` argument for this, passing a dictionary of type mappings.

In [ ]:
dta = pd.read_csv(
    "data/health_inspection_chi.csv",
    dtype={
        'results': 'category',
        'risk': 'category',
        'inspection_type': 'category',
        'facility_type': 'category'
    }
)

In [ ]:
dta.risk.head()

## Exercise

Put all of the above `read_csv` options together in a single call to `read_csv`.

In [ ]:
# Type your solution here

In [ ]:
%load solutions/pandas_read_csv.py

## String Cleaning

Ok, let's start to dig into the data a little bit more. One of the things we're going to be really interested in exploring is the free text of the violations field.

The first thing to notice is that the violations field has null values in it.

In [ ]:
dta.info()

We may want to ask ourselves if these values are missing at random or if there is some reason there's no written violation field.

In [ ]:
dta.loc[dta.violations.isnull()].head()

It looks like we're ok. The next thing to notice is that the violation field actually has a lot of violations in the same field for the same visit.

In [ ]:
with pd.option_context("display.max_colwidth", 500):
    print(dta.violations.head())

Let's split these out to make a longer DataFrame where each violation is a single row. Pandas provides a nice way to munge string data through the `str` accessor on string columns.

```python
dta.violations.str.<TAB>
```

## Exercise

Let's see how many violations we have per visit. What does the distribution of violations look like? Explore the methods on the `str` accessor and, perhaps, the `quantile` method.

In [ ]:
# Type your solution here

In [ ]:
%load solutions/violation_distribution.py

Ok, we have a manageable number of violations. Let's split the violations and then turn them into a long DataFrame with a single row for each violation within each visit.

In [ ]:
violations = dta.violations.str.split("\|", expand=True)
violations.head()

When we `unstack` the DataFrame, we're left with what's called a `MultiIndex`. This index has two *levels* now. One is the original `inspection_id`. The other is the, rather meaningless, column names.

In [ ]:
violations.unstack().head()

Let's get rid of the empty rows first.

In [ ]:
violations = violations.unstack().dropna()

Now we can drop the column name level, which we don't need.

In [ ]:
violations.reset_index(level=0, drop=True, inplace=True)

In [ ]:
violations.head()

One last cleaning step may be helpful here. When we split on the pipe ('`|`'), we likely kept some surrounding whitespace. We can remove that.

In [ ]:
violations.str.startswith(" ").any()

In [ ]:
violations.str.strip().head()

In [ ]:
violations = violations.str.strip()

In [ ]:
((violations.str.startswith(" ").any()) | 
 (violations.str.endswith(" ").any()))

Later, we'll see how to combine these violations back with our original data to do some analysis.

## Working with Dates and Categoricals

Above, we used the `str` accessor on the DataFrame. This isn't the only convenient accessor that pandas provides. There is also the `dt` accessor for datetime types and the `cat` accessor for categorical types.

```python
dta.inspection_date.dt.<TAB>
```

In [ ]:
dta.inspection_date.head()

In [ ]:
dta.inspection_date.dt.month.head()

Now, let's take a look at the categorical types.

```python
dta.risk.cat.<TAB>
```

In [ ]:
dta.risk.head()

In [ ]:
dta.risk.cat.codes.head()